body {
  background-image: url(typewriter.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.typewritten {
  font-family: "Special Elite", cursive;
  text-align: center;
  margin-top: 35vh;
  color: rgb(48, 47, 47);
  font-size: 1em;
}
